# Created: Thu Oct 05 2023, 10:07PM PDT
# Added build outputs Tue Oct 31 2023, 04:56PM PDT
# Ignore Vivado Generated Project Sun Nov 05 2023, 05:17PM PST

# dev outputs
**/__pycache__
**/*_sim
**/.cocotb-results

# build outputs
*.bit
*.bin
*.xsa

# vivado project
*/vivado/*
!*/vivado/Makefile
